<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Homepwner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>175DCFF01D6C5E620082B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175DD0031D6C5E620082B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175DD00E1D6C5E620082B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
